/* Media Query */
@media (max-width:799px) {

    /* change */
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px □ rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 25px;
    }

    #mobile a.active i {
        color: #088178;
    }

    /* #mobile a {
        position: relative;
    }

    #mobile a.active::after {
        content: "";
        width: 34%;
        height: 2px;
        background: #088178;
        position: absolute;
        bottom: -5px;
        left: 27px;
    } */

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    /* change */
    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    /* product */
    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    /* News */
    #newsletter .form {
        width: 70%;
    }

    /* About page */
    #about-head img {
        width: 40%;
    }

    /* Contact page */
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }

}






/* Small Screen */
@media (max-width: 477px) {

    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 3px 30px 0px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    /* feature */
    #feature {
        margin-top: 40px;
        justify-content: space-evenly;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    /* product */
    #product1 .pro {
        width: 100%;
    }

    /* News */
    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    /* copyright */
    footer .copyright {
        display: none;
    }

    footer .sm-copyright {
        display: initial;
    }

    footer .sm-copyright p {
        margin-top: 1.6rem;
    }

    /* single product page */
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* Blog page */
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
        margin-bottom: 20px;
    }

    /* About Page */
    #about-head {
        margin-top: 20px;
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app h1 {
        font-size: 30px;
    }

    #about-app .video {
        width: 100%;
    }

    /* Contact Page */
    #contact-details {
        margin-top: 20px;
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        margin-top: 30px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* Cart Page */
    #cart {
        margin-top: 20px;
    }

    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }

    /* My Custom Change Home Page Hero Section */

    #hero h2 {
        font-size: 25px;
    }

    #hero h1 {
        font-size: 26px;
    }

    #lg-hero-p {
        display: none;
    }

    #sm-hero-p {
        display: initial;
    }
























}